{% extends 'components/base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/page.css') }}">
<link rel="stylesheet" href="{{ asset('css/boutons.css') }}">
<link rel="stylesheet" href="{{ asset('css/blocTechnos.css') }}">
<link rel="stylesheet" href="{{ asset('css/blocExperiences.css') }}">
{% endblock %}

{% block title %}
{{ siteName }}: Bienvenue
{% endblock %}


{% block body %}
<div class="page-wrapper">
    <h1>Homepage</h1>
    <div class="bloc-1">

        {# TODO #}
        <div class="bloc-technos">

            {% for i in 0..10 %}
            <div class="techno">
                <a href="#" class="techno-logo">
                    <i class="fab fa-html5 fa-6x"></i>
                </a>
                <h3 class="techno-title">
                    html5
                </h3>
            </div>
            {% endfor %}


        </div>




        

        {# TODO #}
        <div class="bloc-experiences">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iure nemo fugiat corporis ut commodi tempore
            enim sit, nostrum dolor distinctio laudantium aut amet dolores, numquam mollitia esse minima tenetur aliquam
            quasi? Porro possimus quasi tempora, ipsa animi debitis dicta molestias corrupti dolore tempore sit sint
            quis. Dolorum iusto dolorem omnis consequuntur iure accusantium fugiat voluptatibus a eligendi impedit nam
            similique quidem earum, libero, consequatur soluta nesciunt asperiores porro ipsam aliquam, pariatur
            distinctio sed? Eos modi provident fuga dolore deleniti suscipit, tempore autem sunt harum architecto,
            veritatis qui nobis non dolorem aliquid ea necessitatibus. Fugiat pariatur deserunt nostrum quaerat a.
        </div>

    </div>


</div>
{% endblock %}