{% extends 'components/base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/page.css') }}">
<link rel="stylesheet" href="{{ asset('css/boutons.css') }}">
<link rel="stylesheet" href="{{ asset('css/blocTechnos.css') }}">
<link rel="stylesheet" href="{{ asset('css/blocExperiences.css') }}">
<link rel="stylesheet" href="{{ asset('css/forms.css') }}">
{% endblock %}

{% block title %}
{{ siteName }}: Bienvenue
{% endblock %}


{% block body %}
<div class="page-wrapper">

    {# ================= TECHNOS ================= #}

    <section class="bloc-1">
        <!-- On utilise une div en guise d'ancre, puis on la positionne plus haut en css -->
        <!-- Ceci pour éviter un décalage de l'affichage, à cause du menu sticky -->
        <div class="ancre" id="technologies"></div>
        <h1>Technologies</h1>
        <div class="bloc-technos">


            {# TODO: Boucle sur techno avec variables twig #}
            <div class="techno">
                <a href="#" class="techno-logo">
                    <div class="image-logo">
                        <img src="{{ asset('images/html5.svg') }}" alt="">
                    </div>
                </a>
                <h3 class="techno-title">
                </h3>
            </div>
            <div class="techno">
                <a href="#" class="techno-logo">
                    <div class="image-logo">
                        <img src="{{ asset('images/css3.svg') }}" alt="">
                    </div>
                </a>
                <h3 class="techno-title">
                </h3>
            </div>
            <div class="techno">
                <a href="#" class="techno-logo">
                    <div class="image-logo">
                        <img src="{{ asset('images/js.svg') }}" alt="">
                    </div>
                </a>
                <h3 class="techno-title">
                </h3>
            </div>
            <div class="techno">
                <a href="#" class="techno-logo">
                    <div class="image-logo">
                        <img src="{{ asset('images/php.svg') }}" alt="">
                    </div>
                </a>
                <h3 class="techno-title">
                </h3>
            </div>
            <div class="techno">
                <a href="#" class="techno-logo">
                    <div class="image-logo">
                        <img src="{{ asset('images/css3.svg') }}" alt="">
                    </div>
                </a>
                <h3 class="techno-title">
                </h3>
            </div>
            <div class="techno">
                <a href="#" class="techno-logo">
                    <div class="image-logo">
                        <img src="{{ asset('images/gnuLinux.svg') }}" alt="">
                    </div>
                </a>
                <h3 class="techno-title">
                </h3>
            </div>
            <div class="techno">
                <a href="#" class="techno-logo">
                    <div class="image-logo">
                        <img src="{{ asset('images/bootstrap.svg') }}" alt="">
                    </div>
                </a>
                <h3 class="techno-title">
                </h3>
            </div>
            <div class="techno">
                <a href="#" class="techno-logo">
                    <div class="image-logo">
                        <img src="{{ asset('images/symfony.svg') }}" alt="">
                    </div>
                </a>
                <h3 class="techno-title">
                </h3>
            </div>


    </section>


    {# ================== EXPÉRIENCES ================= #}

    <section class="bloc-1 min-height">
        <div class="ancre" id="experiences"></div>
        <h1>Expériences</h1>
        {% for i in 0..1 %}

        <div class="bloc-experience">

            <div class="bloc-experience-titres">
                <p class="dates">
                    <i class="fas fa-calendar-alt"></i>
                    <span>13 janvier 2020 - 14 fev 2020 (1 mois)</span>
                </p>
                <h2 class="poste">
                    <i class="fas fa-user-tie"></i>
                    <span>Super développeur génial</span>
                </h2>
                <h2 class="entreprise">
                    <i class="fas fa-industry"></i>
                    <span>The big Lebowski produits dérivés</span>
                </h2>
            </div>

            <div class="bloc-experience-details">
                {# TODO: Régler le problème ellipsis multiline (Rajouter une div en bottom de ce bloc, en css, avec du js ou pas, before ou after, mettre dedans "voir la suite" ?) #}
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste a commodi magni delectus suscipit
                architecto fuga. Consectetur asperiores corporis eum numquam, fugit aspernatur minus excepturi,
                recusandae aperiam, et dolorem quidem atque? Modi, minus. Ducimus rem corrupti, numquam optio
                excepturi molestiae. Ut laboriosam ex maxime dolorem nostrum obcaecati impedit laudantium illum
                consequatur eum totam, earum iusto adipisci! Repellendus, voluptas vel? Quo exercitationem eos
                voluptate, aperiam eaque consequatur similique, ab labore quibusdam doloribus in. Facilis laudantium
                dignissimos, rem autem porro aut.
            </div>

            {# <div class="liens">
                <a href="" class="bouton">Détails</a>
            </div> #}
            
            <div class="bloc-experience-footer">
                
                <div class="technos-utilisees">
                    {# Titre, affichage des technos avec les images svg #}
                    <h2 class="titre-technos-utilisees">
                        Technologies employées
                    </h2>
                    <div class="liste-technos-utilisees">
                        {% for i in 0..15 %}
                        <div class="techno-utilisee">
                            <a href="#" class="techno-utilisee-logo">
                                <div class="image-techno-utilisee-logo">
                                    <img src="{{ asset('images/html5.svg') }}" alt="">
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </section>


    {# ================== CONTACT ET FORMULAIRE ================= #}
    <section class="bloc-1 min-height">
        <div class="ancre" id="contact"></div>
        <h1>Contact</h1>
        {# TODO: Formulaire de contact #}
        <div class="container-form big-width">
            {{ form_start(contactForm) }}

            <div class="bloc-ligne">
                {{ form_row(contactForm.prenom) }}
                {{ form_row(contactForm.nom) }}
            </div>

            <div class="bloc-ligne">
                {{ form_row(contactForm.tel) }}
                {{ form_row(contactForm.email) }}
            </div>

            <div class="bloc-ligne-objet-et-message">
                {{ form_row(contactForm.objet) }}
                {{ form_row(contactForm.message) }}
            </div>

            {# Champ caché pôt de miel pour les petits robots #}
            <div>
                {{ form_row(contactForm.motif) }}
            </div>


            <div class="bloc-ligne">
                <p class="consentementRgpd">
                    <input type="checkbox" class="caseACocher" id="accordDonneesPerso">
                    <label for="accordDonneesPerso">
                        Je consens à la collecte de mes données personnelles dans le cadre de cette demande de contact.
                    </label>
                </p>
            </div>

            <div class="bloc-ligne">
                {{ form_row(contactForm.envoyer,
                {'attr':{'disabled':'disabled',
                'class':'buttonDisabled',
                'id':'contact_envoyer'
                }}
                )
                }}
            </div>

            {{ form_end(contactForm) }}
        </div>
    </section>
</div>

{% block javascript %}
{#
<script src="https://code.jquery.com/jquery-3.6.0.js" <!--
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
    </script> #}

<script src="{{ asset('js/highlightMenuLinks.js') }}"></script>
<script src="{{ asset('js/checkBoxRgpdFormulaireContact.js') }}"></script>
{% endblock %}
{% endblock %}